.confirm{
  background-color: #f8f8f8;
  &__header{
    height: 125px;
    &__logo{
      height: 125px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        
        height: 50px;
        
      }
      
    }
  }

  &__main {
    &__field{
      width: 700px;
      margin: 0 auto;
      &__items{
         background-color: #ffffff;
        &__header{
          height: 100px;
          border-bottom: 1px solid #f8f8f8;
          text-align: center;
          h2 {
            font-size: 20px;
            line-height: 100px;
            font-weight: bold;
          }
        }

        &__item{
          border-bottom: 1px solid #f8f8f8;
          height: 146px;
          &__area{
            padding: 33px 180px;

            &__box{
              width: 340px;
              .confirm-itemImage{
                display: flex;
              img{
                width: 80px;
                height: 80px;
                
                }
              .confirm__itemText{
                width: 240px;
                height: 80px;
                margin-left: 20px;
                margin-top: 5px;
                .confirm-itemName{
                 margin-bottom: 16px;
                    }
                .confirm-itemPrice{

                    }
                }
              }
            }
          }
        }

        &__price{
          height: 136px;
          
          &__area{
            padding: 0 176px;
            width: 348px;
          
            
            &__box{
              height: 103px;
              width: 348px;
              padding-top: 33px;
              border-bottom: 1px solid #f8f8f8;
              .price-text-area{
                display: flex;
                justify-content: space-between;
                .price-title{
                  font-weight: bolder;
                  font-size: 12px;
                  margin-top: 4px;
                }
                .price-amount{
                  font-size: 20px;
                  font-weight: bolder;
                }
              }
              .price-point{
                  
                #check1 {
                  transform: scale(1.5);
                  
                  }
                .check-text{
                  font-size: 13px;
                  margin-left: 5px;
                  vertical-align: middle;
                    

                  }
                }
              
            }
          }
        }

        &__pay {
          &__area {
            &__box {
              .pay-method {

              }
              .pay-method-input {

              a {

                i {

              }
              }
            }
          }
          }

        }

        &__shipping{
          &__area{
            &__box{
              .shipping-method{

              }
              .shipping-method-input{
              a {
                i{

                }
              }
              }
            }

          }
        }


      }

      &__info{
        &__box{
          .info-navi{
            .privacy-navi{

            }
            .terms-of-service{

            }
            .trade-write{

            }
          }
        }
        .lpgo-area{
          .urima-logo{

          }
        }
        .company{

        }
      }
      }
    }
}