.mypage {
  background-color: #f8f8f8;
  &__header {
  }
  &__breadcrumbs {
    background-color: red;
    padding: 0 120px;
  }

  @media screen and (min-width: 1000px) {
    &__main {
      background-color: #f8f8f8;
      width: 100%;
      margin-top: 40px;

          &__side {
            background-color:#f8f8f8;
            width: 300px;
            float: left;
            margin-left: 110px;
            font-size: 14px;

            p {
              font-weight: bold;
              margin-bottom: 5px;
            }

            ul.mypage__main__side__upper {
              margin-bottom: 30px;
              

            }
            li {
              background-color: #fff;
              padding: 10px;
              border: solid 1px;
              border-color: #EEE;

              a {
                text-decoration: none;
                color: black;
              }
            }
            li + li {
              border-top: none;
            }
          }
    
          &__content {
            width: 700px;
            float: right;
            margin-right: 110px;
            
            &__upper {
              background-color: pink;
              height: 200px;
              text-align: center;
            }
            &__downer {
              background-color: white;
              height: 600px;
              text-align: center;

              li.title {
                padding: 20px;
                border: solid 1px;
                border-color: #EEE;
                font-weight: bold;
                line-height: 20px;
              }
              li.post {
                margin-top: 30%;
              }
            }
          }
    }
  }

  @media screen and (max-width: 1000px) {
    &__main {
      background-color: #f8f8f8;
      width: 100%;
      margin-top: 40px;

      &__side {
        background-color: #f8f8f8;
        width: 700px;
        float: left;
        margin-left: 110px;
        font-size: 14px;
      }

      p {
        font-weight: bold;
      }

      ul.mypage__main__side__upper {
        margin-bottom: 30px;
        font-size: 14px;

      }
      li {
        background-color: #fff;
        padding: 10px;
        border: solid 1px;
        border-color: #EEE;
        a {
          text-decoration: none;
          color: black;
        }
      }
      li + li {
        border-top: none;
      }

      &__content {
        background-color: pink;
        width: 700px;
        float: left;
        margin-left: 110px;
        margin-bottom: 40px;

        &__upper {
          background-color: pink;
          height: 200px;
          text-align: center;
        }
        &__downer {
          background-color: white;
          height: 600px;
          text-align: center;

          li.title {
            border: solid 1px;
            border-color: #EEE;
            font-weight: bold;
            padding: 20px;
            line-height: 20px;
          }
          li.post {
          }
        }
        }
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}