.mypage {
  &__header {
  }
  &__breadcrumbs {
    background-color: red;
    padding: 0 120px;
  }

  @media screen and (min-width: 1000px) {
    &__main {
      background-color: green;
      width: 100%;

          &__side {
            background-color: blue;
            width: 300px;
            float: left;
            margin-left: 110px;
          }
    
          &__content {
            background-color: pink;
            width: 700px;
            float: right;
            margin-right: 110px;
          }
    }
  }

  @media screen and (max-width: 1000px) {
    &__main {
      background-color: green;
      width: 100%;

        &__side {
          background-color: blue;
          width: 700px;
          float: left;
          margin-left: 110px;
        }
  
        &__content {
          background-color: pink;
          width: 700px;
          float: left;
          margin-left: 110px;
        }
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}