.new-user_registration {
  background-color: #f8f8f8;

  &__header {
    background-color:#f8f8f8;
    height: 120px;
    text-align: center;

    .headerlogo {
      width: 200px;
      margin-top: 30px;
    }

  }
  &__main {
    background-color: #f8f8f8;

    button {
      display: block;
      line-height: 40px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      width: 350px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4px;
    }

    &__in {
      background-color: white;
      width: 700px;
      margin: 0 auto;

      p {
        text-align: center;
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
        
        }

      &__form {
        padding: 24px 16px 60px;
        text-align: center;
        font-size: 13px;
        

        &__new {

          a {
            display: block;
            margin-top: 8px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid rgb(65, 203, 213);
            background: rgb(65, 203, 213);
            color: #fff;
            line-height: 40px;
            text-align: center;
            width: 345px;
            padding: 5px;
            border-radius: 4px;
            }
          }

        &__f {
          background: #385185;
          color: #fff;
          border: 1px solid transparent;
          margin-top: 15px;
          padding: 5px;
        }
        &__g {
          background: #fff;
          border: 1px solid;
          margin-top: 15px;
          padding: 5px;
        }
        &__input {
          input {
            height: 26px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            width: 270px;
            margin: 24px 0 0;
            }
        }

        &__btn {
          margin: 24px 0;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          cursor: pointer;
          text-align: center;
          background: #3CCACE;
          color: #fff;
        }
      }
    }
  }
  &__footer {
    background-color: #f8f8f8;
    width: 456px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    height: 220px;

    ul {
      display: flex;
      margin-top: 30px;

      li {
        width: 100%;
      }

    }

    a {
      color: #333;
      font-size: 13px;
    }

    .footerlogo {
      width: 200px;
      margin: 20px 0 0;
      color: black;
    }

    p {
      font-size: 9px;
    }
  }  
} 