//商品詳細ページ
.details__breadcrumbs{
  height: 50px;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 3px 3px #d7d7d7;
  list-style: none;
  
  &__text{
  font-size: 14px;
  padding-left: 165px;

  .text__category {
    float: left;
    padding: 0 10px 0 0;
    display: inline-block;
    font-family: メイリオ;
    margin-top: 16px;

    .breadcrumbs__text {
      color: black;      
   }        
  }
 }
}

.mainProduct {
  background-color: #f8f8f8;

  &__content {
    padding: 40px;

    &__top {
      margin: 0 auto;
      width: 700px;
      
      &__items {
        background-color: #ffffff;
        padding: 40px;
        

        &__name {
          font-size: 18px;
          font-weight: bold;
          text-align: center;
        }

        &__image{
         

          .zoom{
            
          }
        }

        &__images {
          display: flex;

          .small{
            padding: 10px;
            text-align: center;
            
         }
        }
        &__price{
          text-align: center;

          .amount{
            font-size: 35px;
        }
        
          .details{

        }
        &__introduction{

        &__table{
          .table-box{

            .itemTables{

              &-left{

              }
              &-right{

              }
            }

          }
      }
      }
        &__optional{
          .optional{
            .optional-favorite{

            
             .star-icon{
             }
            }
            .optional-report{
              .flag-icon{

              }
            }
          }
        }
      }
     }
    }
   }
      &__commentBox{
        .commentBox-text{

        }
        &-notice{

        }
        &-send{
          .comment-icon{

          }
        }
      }
      &-showMore{

      }
  }
 
