.main__bottom__dl
  .main__bottom__dl__content
    %h2.main__bottom__dl__content__subtitle
      誰でもかんたん、人生を変えるフリマアプリ
    %p.main__bottom__dl__content__text
      今すぐ無料ダウンロード！
    .main__bottom__dl__content__btn
      = link_to image_tag("Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class:"abtn"), "#"
      = link_to image_tag("google-play-badge.svg", class:"gbtn"), "#"