.head-logo {
  height: 100px;
  width: 100px;
  margin: 0  auto;
  text-align: center;
  .logo{
    width: 160px;
    height: 40px;
    margin-top: 40px;
  }
}
.seller{
  background-color: #eff3f3;
  padding: 0 250px;
  max-width: 1040px;
  min-width: 80%;
  .seller__in{
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 15px 150px;
    &__item{
      width: 50%;
      &__image{
        &__text{
          display: flex;
          margin-bottom: 5px;
          h2 {
            float: left;
          }
          span{
            float: right;
          }
        }
        &__images{
          p{
            font-size: 13px;
          }
        }
        .form{
          position: relative;
          height: 100px;
          width: 50vw;
          background-color: rgb(235, 239, 240);
          margin-bottom: 40px;
          text-align: center;
          label{
            width: 100%;
            .icon{
              position: absolute;
              top: 40px;
            }
            input{
              display: none;
            }
          }
        }
      }
      &__name{
        &__text{
          display: flex;
          margin-bottom: 5px;
          h2{
            float: left;
          }
          span{
            float: right;
          }
        }
      }
    }  
    &__details{
      &__text{
        display: flex;
        margin-bottom: 5px;
        h2{
          float: left;
        }
        span{
          float: right;
        }
      }  
      &__product{
        p{
          font-size: 13px;
        }
        
      }
    }
    &__genre{
      &__categoly{
        display: flex;
        margin-bottom: 5px;
        h2{
          float: left;
        }
        span{
          float: right;
        }
      }
      &__input{
        &__form{
          width: 60%;
          height: 50px;
          margin-bottom: 50px;
        }
      }
    }
    &__status{
      &__item{
        display: flex;
        margin-bottom: 5px;
        h2{
          float: left;
        }
        span{
          float: right;
        }
      }
    }
    &__delivery{
      &__pattern{
        display: flex;
        margin-bottom: 5px;
        h2{
          float: left;
        }
        span{
          float: right;
        }
      }
      &__area{
        display: flex;
        margin-bottom: 5px;
        h2{
          float: left;
        }
        span{
          float: right;
        }
      }
      &__input{
        &__area{
          height: 60px;
          margin-bottom: 40px;
          width: 60%;
        }
        
      }
      &__day__date{
        display: flex;
        margin-bottom: 5px;
        h2{
          float: left;
        }
        span{
          float: right;
        }
      }
    }
    &__price{
      &__item{
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        h2{
          float: left;
        }
        span{
          float: right;
        }
      }
    }
    &__sale{
      &__input{
        background-color: rgb(65, 203, 213);
        color: white;
      }
      &__draft{
        background-color: rgb(225, 223, 223);
      }
    }
  }
}

span{
  background-color:rgb(65, 203, 213);
  color:white;
  font-size: 14px;
  padding: 2px;
  border-radius: 5px;
}

input{
  width: 50vw;
  height: 50px;
  margin-bottom: 50px;
}


h2{
  font-weight: bold;
  margin-right: 2px;
}
.date{
  text-align: center;
  margin-bottom: o;
}