.notifications {
  color: white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: red;
  }
}

@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/wrapper";
@import "modules/mixin";
@import "modules/items-new";
@import "modules/main";
@import "modules/header";
@import "modules/footer";
@import "modules/show";
@import "modules/onestep";
@import "modules/sign_up";
@import "modules/new";
@import "modules/mypage";
@import "modules/breadcrumbs";
@import "modules/logout&card";
@import "modules/cardnew";
@import "modules/confirm";
@import "modules/complete";
@import "modules/validationerror";


